<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/register/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/data/document.js"></script>
    <script src="/files/register/data.js"></script>

</head>
<body>
<div id="register" class="">

    <!-- Unnamed (Image) -->
    <div id="u97" class="ax_default image">
        <img id="u97_img" class="img " src="/images/register/u97.png"/>
        <div id="u97_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u98" class="ax_default shape">
        <div id="u98_div" class=""></div>
        <div id="u98_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u99" class="ax_default box_1">
        <div id="u99_div" class=""></div>
        <div id="u99_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u100" class="ax_default image">
        <img id="u100_img" class="img " src="/images/main/u3.png"/>
        <div id="u100_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u101" class="ax_default text_field">
        <img id="u101_img" class="img " src="/images/login/u82.svg"/>
        <span id="u101_input" type="text" class="u101_input">注册并开始学习吧！</span>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u102" class="ax_default shape">
        <div id="u102_div" class=""></div>
        <div id="u102_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u103" class="ax_default shape">
        <div id="u103_div" class=""></div>
        <div id="u103_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- emphone (Text Field) -->
    <div id="u104" class="ax_default text_field" data-label="emphone">
        <img id="u104_img" class="img " src="../images/register/emphone_u104.svg"/>
        <input id="u104_input" type="text" value="电子邮件/手机号" class="u104_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u105" class="ax_default icon">
        <img id="u105_img" class="img " src="/images/register/u105.svg"/>
        <div id="u105_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u106" class="ax_default shape">
        <div id="u106_div" class=""></div>
        <div id="u106_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- pwd (Text Field) -->
    <div id="u107" class="ax_default text_field" data-label="pwd">
        <img id="u107_img" class="img " src="/images/register/emphone_u104.svg"/>
        <input id="u107_input" type="text" value="密码" class="u107_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u108" class="ax_default icon">
        <img id="u108_img" class="img " src="/images/login/u88.svg"/>
        <div id="u108_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u109" class="ax_default shape">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- stuID (Text Field) -->
    <div id="u110" class="ax_default text_field" data-label="stuID">
        <img id="u110_img" class="img " src="/images/register/emphone_u104.svg"/>
        <input id="u110_input" type="text" value="学号" class="u110_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u111" class="ax_default icon">
        <img id="u111_img" class="img " src="/images/login/u90.svg"/>
        <div id="u111_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- 注册 (Rectangle) -->
    <div id="u112" class="ax_default link_button" data-label="注册">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
            <p><span>注 册</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u113" class="ax_default text_field">
        <img id="u113_img" class="img " src="/images/register/u113.svg"/>
        <input id="u113_input" type="text" value="已有账户？" class="u113_input"/>
    </div>

    <!-- 登录-link (Text Field) -->
    <div id="u114" class="ax_default text_field" data-label="login-link">
        <img id="u114_img" class="img " src="/images/login/__-link_u93.svg"/>
        <input id="u114_input" type="text" value="返回登录" class="u114_input"/>
    </div>

    <!-- close (Shape) -->
    <div id="u115" class="ax_default icon" data-label="close">
        <img id="u115_img" class="img " src="/images/login/close_u94.svg"/>
        <div id="u115_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u116" class="ax_default shape">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- username (Text Field) -->
    <div id="u117" class="ax_default text_field" data-label="username">
        <img id="u117_img" class="img " src="/images/register/emphone_u104.svg"/>
        <input id="u117_input" type="text" value="姓名" class="u117_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u118" class="ax_default icon">
        <img id="u118_img" class="img " src="/images/register/u118.svg"/>
        <div id="u118_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u119" class="ax_default shape">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- schoolname (Text Field) -->
    <div id="u120" class="ax_default text_field" data-label="schoolname">
        <img id="u120_img" class="img " src="/images/register/emphone_u104.svg"/>
        <input id="u120_input" type="text" value="学校名称" class="u120_input"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u121" class="ax_default icon">
        <img id="u121_img" class="img " src="/images/register/u121.svg"/>
        <div id="u121_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
<script src="/scripts/axure/ios.js"></script>

<script>

    var vue = new Vue({
        el: "#register",
        data: {
            userNickname:"",
            userGender:"",
            userPassword:"",
            userEmail:"",
            userPhone:"",
            userRole:"",
            schoolId:"",
            userNumber:"",
            userName:"",
        },
        methods: {
            do_check: function () {
                if(this.userName === null || this.userName === undefined || this.userName === "") {
                    alert("用户名不能为空！");
                    return false;
                }
                if(this.userPassword === null || this.userPassword === undefined || this.userPassword === "") {
                    alert("密码不能为空！");
                    return false;
                }
                return true;
            },
            do_login: function () {
                let self = this;
                self.userRole = $("#account_type option:selected").val();
                if(!self.do_check()) {
                    return;
                }
                $.ajax({
                    type:"post",
                    url:"/system/register",
                    data:{
                        userNickname:self.userNickname,
                        userGender:self.userGender,
                        userPassword:self.userPassword,
                        userEmail:self.userEmail,
                        userPhone:self.userPhone,
                        userRole:self.userRole,
                        schoolId:self.schoolId,
                        userNumber:self.userNumber,
                        userName:self.userName,
                    },
                    success:function(res){
                        console.log(res);
                        if(res.code === "200"){
                           // localStorage.setItem("token",res.data.token);
                            localStorage.setItem("userNickname",self.userNickname);
                            localStorage.setItem("userGender",self.userGender);
                            localStorage.setItem("userPassword",self.userPassword);
                            localStorage.setItem("userEmail",self.userEmail);
                            localStorage.setItem("userPhone",self.userPhone);
                            localStorage.setItem("userRole",self.userRole);
                            localStorage.setItem("schoolId",self.schoolId);
                            localStorage.setItem("userNumber",self.userNumber);
                            localStorage.setItem("userName",self.userName);
                        } else {
                            window.location.href = "";
                            alert("注册失败！请检查输入。")
                        }
                    },
                    error:function(res){
                        console.log(res);
                        window.location.href = "";
                        alert("出问题了！请刷新重试。")
                    }
                });
            }
        }
    })
</script>

</body>
</html>
