<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.CourseDao">
    <select id="searchCourse" resultType="CourseDetail">
        select course_id,course_number,course_name,is_show,course_detail,course_level,course_type,user.user_id teacher_id,user_nickname teacher_name,user_number teacher_number
        from course inner join user on course.teacher_id = user.user_id
        <where>
            <if test="course.courseId!=null">
                and course_id = #{course.courseId}
            </if>
            <if test="course.teacherId!=null">
                and teacher_id = #{course.teacherId}
            </if>
            <if test="course.courseName!=null and course.courseName!=''">
                and course_name like CONCAT(CONCAT('%', #{course.courseName}), '%')
            </if>
            <if test="course.courseNumber!=null and course.courseNumber!=''">
                and course_number like CONCAT(CONCAT('%', #{course.courseNumber}), '%')
            </if>
        </where>
    </select>
</mapper>